.sceneContainer {
  width: 700px;
  height: 700px;
  border: 2px solid var(--foreground);
  border-radius: 4px;
  position: relative;
}

.interactiveCircle {
  position: absolute;
  border: 2px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.sceneImage {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.captionContainer {
    border: 2px solid var(--foreground);
    border-radius: 4px;
    width: 700px;
    margin-top: 10px;
    padding: 15px;
    min-height: 90px;
}