.cardGrid {
  display: grid;
  grid-template-columns: repeat(5, 95px);
  grid-template-rows: repeat(5, 125px);
  gap: 10px;
  justify-content: center;
  margin-top: 15px;
}

.card {
  background: transparent;
  border: none;
}

.emptyCardContainer {
  width: 95px;
  height: 125px;
}

.rewardContainer {
  text-align: center;
}
